.container {
    display: grid;
    max-width: 900px;
    min-height: 50vh;
    grid-template-columns: 100px;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: "header" "left" "main" "right" "footer";
}

@media(min-width: 440px) {
    .container {
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header header"
                             "left main right"
                             "footer footer footer";
    }
}

.header {
    grid-area: header;
    background-color: blue;
    padding: 25px;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: aqua;
    padding: 25px;
    text-align: center;
}

.sidebar {
    background-color: bisque;
    padding: 25px;
    text-align: center;
}

.left{
    grid-area: left;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    background-color: blueviolet;
    padding: 25px;
    text-align: center;
}